
.table{
  overflow: auto;
}

.table tr td {
  height: 2em;
}

.btn-sm{
  height: 1.8em;
  line-height: 1em;
}

.actions {
    display: flex;
    flex-direction: row;
  }
.actions button{
    width: 100%;
    margin: .1em
}
@media (max-width: 550px){
  .actions {
    display: table-cell;
  }

}

.no-data{
  position: absolute;
}
