<main class="d-flex flex-column align-items-center">
  <button type="button" class="btn btn-primary mb-3" [attr.data-cy]="'create-todo'" [routerLink]="['add']">
    Adicionar tarefa
  </button>

  <div class="table-container table">
    <table class="table table-hover table-sm table-responsive-sm">
      <colgroup>
        <col class="col-1">
        <col class="col-9">
      </colgroup>
      <thead>
        <tr>
          <th scope="col" id="table-item-id">id</th>
          <th scope="col">título</th>
          <th scope="col" class="text-center">ações</th>
        </tr>
      </thead>
      <tbody *ngIf="todos && todos.content && todos.content.length > 0; else emptyTodos">
        <tr *ngFor="let item of todos?.content; let i = index">
          <td class="align-middle" scope="row" [attr.data-testid]="'todo-' + i">{{item.id}}</td>
          <td id="coisa" class="align-middle" [attr.data-cy]="'todo-title-' + i">{{item.title}}</td>
          <td class="actions">
            <button type="button" class="btn btn-sm btn-secondary" [attr.data-cy]="'edit-button-' + i"
              [routerLink]="['edit', item.id]">editar</button>
            <button type="button" class="btn btn-sm btn-danger" [attr.data-cy]="'edit-button-' + i"
              (click)="onDeleteClick(item.id)">remover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center ">
    <app-pagination [current]="currentPage" [total]="totalPages" (goTo)="onGoTo($event)" (next)="onNext($event)"
      (previous)="onPrevious($event)"></app-pagination>
  </div>
</main>
<ng-template #emptyTodos>
  <p class="no-data">
    Nenhuma tarefa criada ainda
  </p>
</ng-template>

<app-loading *ngIf="loading"></app-loading>
