/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 4em;
  background-color: #DCDCDC;
}

* {
  box-sizing: border-box;
}

#toast-container > div {
  opacity:1;
}

.table-container {
  width: 80%;
  height: 25em;
}

a, a:focus, a:active {
  color: inherit;
}

a:hover{
  color: whitesmoke;
}

@media (max-width: 550px){

}

#coisa {
  word-break: break-all;
}
